<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 hours">
    <logger name="org.apache"           level="info" />
    <logger name="org.springframework"  level="info" />
    <logger name="org.hibernate.tool"   level="error" />

    <logger name="org.rayjars.appdirect.OAuth"   level="debug" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
